body{
    background-color: rgb(70, 200, 50);
}
/* .cardSpot{
    background-color: lightgray;
    border: 2px solid black;
} */
h1 {
    text-align: center;

}
#dealerCards {
    background-color: aqua;
    color: rgb(38, 21, 230);
    margin: 20px;
}
#playerCards {
    
    background-color:white;
    color: rgb(38, 21, 230);
    margin: 20px;
}

.cardBoxDealer{
    display: inline-block;
    border: 3px solid black;
    padding: 2px;
    margin: 0 auto;
    background-color: deepskyblue;
    height: 90px;
    width: 45px;
    font-size:x-large;
    border-radius: 10%;
    
}
.cardBoxPlayer{
    display: inline-block;
    border: 3px solid black;
    padding: 2px;
    margin: 0 auto;
    background-color: gold;
    /* background-image: url("/images/playing-card-g94b04bb74_640.jpg"); */
    height:90px;
    width: 45px;
    font-size:x-large;
    border-radius: 10%;
    
}
#playerName {
    display: flex;
}
.hidden{
    opacity:0;
}
.grayLetters{
    color:lightgray;
}

#dScore{
    display:flex;


}
#pScore{
    display:flex;
    

}