body{
    /* background-color: rgba(52, 145, 52, 0.9); */
    background-image: radial-gradient(lightgreen,darkgreen);
    background-size: contain;
}

h1 {
    text-align: center;
}

.symbols {
    font-size: 100px;
    color: rgba(38, 210, 38, 0.784);
    text-shadow: 2px 8px black;
    margin: 0px;
}
#hearts{
    position: absolute;
    top:50px;
    left:30px;
}#spades{
    position: absolute;
    top:50px;
    right:30px;
}#clubs{
    position: absolute;
    bottom:50px;
    left:30px;
}#diamonds{
    position: absolute;
    bottom:50px;
    right:30px;
}
#alerts{

    text-align: center;
    margin: 10px auto;
    height: 20px;
    /* width:150px; */
    color:red;
    font-size: large;
}
.winnerAlert{
    background-color: white;
    color:gold;
}
#startBtn{
    position: relative;
    font-size: large;
    border-radius: 10%;
    text-shadow: 2px black;
    left:46%
 }

 #playAgain{
     position: relative;
     left:46%;
 }
 #newGameBtn{
     position: relative;
     left:46%;
 }

h2 {
    text-align: center;
    font-size: x-large;
margin: 0 auto;
}
#forDealer{
    display: flex;
    justify-content: center;
    margin: 0;
    
}
#dCardTotalLabel{
    display:inline-block;
    margin-left: 200px;
    margin:5px;
}
#dCardTotal {
    align-items: right;
    width: 50px;
    margin: 5px;
    justify-content: center;
    text-align: center;

}
#dealerContainer{
    display:flex;
    margin: 0 auto;
    justify-content: center;
}
#leftSideDealer{
    display: flex;
    height: 200px;
    width: 10%;
    /* background-color: crimson; */
    margin-right: 0;
    align-items: center;
    justify-content: center;
    border: 4px solid rgba(52, 145, 52, 0.9);
    border-radius: 20%;
    border-right: none;
}
#dHit {
    height: 50%;
    width: 90%;
    font-size: 2em;
    border-radius: 10%;
}

#dealerCardArea {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 35%;
    margin-right: 0;
    /* background-color: red; */
    border: 4px solid rgba(52, 145, 52, 0.9);
    border-radius: 20%;
    border-right: none;
    border-left: none;
}
#dealerCards{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardBoxDealer{
    height:90px;
    width: 45px;
    border: 3px solid black;
    padding: 2px;
    margin: 1px;
    background-color: white;
    font-size:large;
    border-radius: 10%;
    text-align: center;
}
.totalHidden{
    opacity: 0;
}
.hidden {
    color: rgba(0,0,0,0);
    background-image: url('images/playing-card-g94b04bb74_640.jpg');
}



#rightSideDealer{
    display: flex;
    height: 200px;
    width: 10%;
    /* background-color: crimson; */
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid rgba(52, 145, 52, 0.9);
    border-radius: 20%;
    border-left: none;
}
/* ********************************************** !!*/
label[for=dScore]{
    /* background-color: steelblue; */
    color: red;
}

#dScore{
    /* border: 2px dotted green; */
    color:red;
    width: 40%;
    text-align: center;
}
/* **********************!! */

#playerTopSections{
    display: flex;
    justify-content: center;
   /* padding: 10px; */
}
#aceChoice{
    margin: 10px;
}
#one{

    margin-right: 10px;
    margin-left: 5px;
}
#eleven{
  
    margin: 0;
}
label[for=pcardTotal]{
    /* display:inline-block; */
    margin: 5px;

} 

#pCardTotal{
    /* align-items: right; */
    margin: 5px;
    width: 50px;
    text-align: center;
 }

#playerContainer{
    display:flex;
    margin: 0 auto;
    justify-content: center;
}

#leftSidePlayer{
    display: flex;
    height: 200px;
    width: 10%;
    /* background-color: crimson; */
    margin-right: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 4px solid rgba(52, 145, 52, 0.9);
    border-radius: 20%;
    border-right: none;
}
#pHit {
    margin:10%;
    height: 20%;
    width: 90%;
    font-size: 1.5em;
    border-radius: 10%;
    }
#pHold {
    margin:10%;
    height: 20%;
    width: 90%;
    font-size: 1.5em;
    border-radius: 10%;
    }
#playerCardArea {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 35%;
    /* background-color: aquamarine; */
    margin: 0;
    border: 4px solid rgba(52, 145, 52, 0.9);
    border-radius: 20%;
    border-right: none;
    border-left: none;
}
#playerCards{
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightSidePlayer{
    display: flex;
    height: 200px;
    width: 10%;
    /* background-color: crimson; */
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid rgba(52, 145, 52, 0.9);
    border-radius: 20%;
    border-left: none;
}

label[for=pScore]{
    /* background-color: steelblue; */
    color: red;
}

#pScore{
    /* border: 2px dotted green; */
    color: red;
    width: 40%;
    text-align: center;
}

.cardBoxPlayer{
    height:90px;
    width: 45px;
    border: 3px solid black;
    padding: 2px;
    margin: 1px;
    background-color: white;
    font-size:large;
    border-radius: 10%;
    text-align: center;
    
}

#playerName {
}
.grayLetters{
    color:lightgray;
}

/* @media..... >700....
change four symbols
change text size for h2, card totals, all buttons, wins, and cards
*/

